<!DOCTYPE html>
<html lang="ko">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>고립탈출 대작전</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- <link rel="stylesheet" href="/static/css/test.css"> -->
      <!-- bootstrap css -->
      <!-- <link rel="stylesheet" href="./css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
       <link rel="stylesheet" href="/static/css/owl.carousel.min.css"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
      
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- top -->
         <!-- header -->

         <!-- navbar -->
         <nav class="site-navbar ">
            <div class="container-fluid">
               <a class="navbar-brand" href="/">IsolationZero</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                  </button>               
               <ul>
                  <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:about' %}">분석배경</a>
                  </li>

                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'blog:method' %}">분석방법</a>
                  </li>

                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="{% url 'blog:factors' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       관련요인
                     </a>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="{% url 'blog:ages' %}">연령대</a></li>
                       <li><a class="dropdown-item" href="{% url 'blog:group' %}">단체참여</a></li>                       
                       <li><a class="dropdown-item" href="{% url 'blog:spouse' %}">배우자</a></li>                       
                       <li><a class="dropdown-item" href="{% url 'blog:single' %}">1인가구</a></li>
                       <li><a class="dropdown-item" href="{% url 'blog:metropolitan' %}">지역</a></li>
                       
                     </ul>
                   </li>


                  <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:how' %}">How</a>
                  </li>

                  <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:references' %}">references</a>
                  </li>

                  <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:env' %}">개발환경</a>
                  </li>
               </ul>
               <hr>
            </div>        
         </nav>
      <div class="full_bg">         
            <!-- <img src="https://images.pexels.com/photos/1049557/pexels-photo-1049557.jpeg" alt="#"/> -->
         
      </div>
      <!-- nav 끝  -->
   
      <!-- 메인 내용 -->
                <!-- protect -->
         <div class="coronata">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage text_align_center">
                        <h2>연령대별 사회적 고립도 분석</h2>
                     </div>
                  </div>
               </div>
            </hr>
         </div>
         <!-- end protect -->
        
     <!-- 글 : 연령대별 사회적 고립도 분석 -->
      <div class="about">
         <div class="container">
            <div class="row d_flex grid">
               <div class="col-md-12 oder1">


                  <div class="titlepage text_align_left">                     
                     <!-- <h2>연령대별 사회적 고립도 분석</h2> -->
                     <p><br>
                       먼저, 연령대별 사회적 고립도를 확인하기 위해 가설을 설정했습니다.<br><br>

                       연령대에 따라 사회적 고립의 수준이 다를 것이라고 예상했고,<br>
                       특히 노년층이 더 높은 고립도를 보일 것이라고 가정했습니다.<br><br>

                       연령대는 정부에서 주로 사용하는 기준과 데이터의 균형을 고려하여<br>
                       <strong>청소년, 청년, 중년, 장년, 노년</strong>으로 구분했습니다.
                     </p>
                  </div>                  

                  
               </div>
            </div>
         </div>
    
         <!-- end 글 그림 -->

         <!-- 글 : 연령대별 사회적 고립도 분석 -->
  
         <div class="container">
            <div class="row d_flex grid">
               <div class="col-md-12 oder1">
                  <hr>


                  <div class="titlepage text_align_left">                     
                     <!-- <h3>[그래프 넣을자리]</h3> -->
                     <div class="col-md-12">
                        <div class="titlepage text_align_center">
                           <h3>연령대별 사회적 고립도</h3>                     
                        </div>
                        <!-- Django에서 전달된 그래프 HTML 코드 삽입 -->
                        <div>
                           {{ graph_html|safe }}
                        </div>
                     </div>
                  
               </div>
            </div>
         </div>
 
         <!-- end 글 그림 -->
                   <!-- 글 : 연령대별 사회적 고립도 분석 -->
  
         <div class="container">
            <div class="row d_flex grid">
               <div class="col-md-12 oder1">
                  <hr>


                  <div class="titlepage text_align_left">                     
                     <h3>데이터 검정</h3>
                     <p><br>
                       연령대별 사회적 고립도 차이를 알아보기 위해 사용한 검정은 <strong>Kruskal-Wallis H 검정</strong>입니다.<br><br>
                       p-value가 <strong>0.0</strong>으로, '연령대별로 사회적 고립도에 차이가 없다'는 귀무가설을 기각하여,<br>
                       연령대별로 사회적 고립도에 유의미한 차이가 존재한다는 것을 알 수 있었습니다.<br><br>
                       각 연령대 간 구체적인 차이를 알아보기 위해 <strong>Dunn's Test</strong>를 추가로 수행했습니다.<br><br>
                       그 결과, <strong>노년층과 다른 모든 연령대</strong> 사이에서 유의미한 차이가 있음을 확인했습니다.
                     </p>
                  
               </div>
            </div>
         </div>
      </div>
   </div>
         <!-- end 글 그림 -->




   <!-- 분석방법 -->
           <!-- 글 그림 -->
            
           <div class="coronata">
            <div class="container">               
               <div class="row d_flex grid">
                  <div class="col-md-9 oder1">
                     <hr>
                     <div class="titlepage text_align_left">                     
                        <h3>이론적 배경</h3>
                        <p><br><br><br>
                        이 결과는 <strong>에릭 에릭슨의 심리사회적 발달 이론</strong>과도 일치합니다.<br><br>
                        노년기에 자아통합에 실패하면, 절망감과 소외감을 경험하게 되고,<br>
                        이는 사회적 상호작용의 감소로 이어져 고립감이 커질 수 있다는 것입니다.
                        </p>
                        </div>
   
                     </div>

                     <div class="col-md-3">
                        <div class="coronata_img text_align_left">
                           <figure><img src="https://i.namu.wiki/i/iHW719F6UZMMzk9jaI1lBOka974Z9wb7yUFdXi-Eo7SBVN9Ud4bDgBFvNCvQWJZp8mloLWJz6exA2fUYu92_Cz3L23JSaBno2Wyq-011InUeQ1n2MfJE2MZsbBu37RDaCjdqzeLOQWVgfzbKF32LrQ.webp" alt="#"/></figure>
                        </div>
                     </div>



                  </div>
               </div>
            </div>
            <!-- end 글 그림 -->


      <!-- factors 페이지네이션 (페이지 연결하고 수정 예정) -->
         </div>
         <div class="protect_bg">
            <div class="container">
               
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage text_align_center">
                     <hr>
                     <h3>관련 요인</h3>
                     
                     <hr>
                     <!--  Demos -->
                     <div class="owl-carousel owl-theme">
                        <div class="item">
                           <div class="protect_box text_align_center">
                           <div class="desktop">
                              <i><img src="https://images.pexels.com/photos/3823542/pexels-photo-3823542.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="#"/></i>
                              <h4> <br>연령대별 </h4>
                              <div class = "word"> Erikson의 이론에 따르면, 노년기에 고립은 절망감을 증가시킬 수 있습니다. 우리의 결과는 이 이론을 지지하며, 노년층의 고립도 문제를 심각하게 받아들여야 합니다.</div>
                           </div>
                              <a class="read_more" href="{% url 'blog:ages' %}">Read More</a>
                           </div>
                        </div>
                        <div class="item">
                           <div class="protect_box text_align_center">
                           <div class="desktop">
                              <i><img src="https://images.pexels.com/photos/8861582/pexels-photo-8861582.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="#"/></i>
                              <h4> <br>1인가구 vs 비1인가구</h4>                                 
                              <div class = "word"> Cohen의 연구에 따르면, 사회적 지지 부족은 스트레스를 증대시키고 건강을 악화시킬 수 있습니다. 1인가구 노년층의 고립도 문제를 해결하려면, 이들을 위한 사회적 지지망 구축이 필요합니다</div>
                           </div>
                              <a class="read_more" href="{% url 'blog:single' %}">Read More</a>
                           </div>
                        </div>
                        <div class="item">
                           <div class="protect_box text_align_center">
                           <div class="desktop">
                              <i><img src="https://images.pexels.com/photos/5713612/pexels-photo-5713612.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="#"/></i>
                              <h4> <br>단체참여 여부</h4>
                              <div class = "word"> Deci와 Ryan의 자기결정 이론에 따르면, 관계성 욕구는 심리적 건강에 매우 중요합니다. 단체 참여는 이러한 욕구를 충족시킴으로써 고립도를 줄일 수 있습니다</div>
                           </div>
                              <a class="read_more" href="{% url 'blog:group' %}">Read More</a>
                           </div>
                        </div>
                        <div class="item">
                           <div class="protect_box text_align_center">
                              <div class="desktop">
                                 <i><img src="https://images.pexels.com/photos/8972578/pexels-photo-8972578.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="#"/></i>
                                 <h4> <br>배우자 유무</h4>
                                 <div class = "word"> Cacioppo의 연구에 따르면, 고독은 신체적, 정신적 건강을 해칠 수 있습니다. 배우자가 없는 노년층에 대한 추가적인 사회적 지원이 절실합니다</div>
                              </div>
                                 <a class="read_more" href="{% url 'blog:spouse' %}">Read More</a>
                           </div>
                        </div>
                        <div class="item">
                           <div class="protect_box text_align_center">
                              <div class="desktop">
                                 <i><img src="https://images.pexels.com/photos/5613942/pexels-photo-5613942.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="#"/></i>
                              <h4> <br>지역적 요인</h4>
                              <div class = "word">Masten의 연구에 따르면, 회복력은 역경을 극복하는 데 중요한 요소입니다. 지역사회 자원과 지지망이 노년층의 건강과 고립도에 영향을 미칠 수 있습니다</div>
                              </div>
                           <a class="read_more" href="{% url 'blog:metropolitan' %}">Read More</a>
                        </div>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- factors 페이지네이션 끝-->
     

      </div>
      <!-- 빈공간 -->
          <!-- 빈공간 -->
   <div class="update">
      <div class="cevery_white">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2> </h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
   </div>
   <!-- 빈공간 -->
      <!--  footer -->
      <footer>
         <div class="footer">            
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 offset-md-2">
                        <p>© 2020 All Rights Reserved. Design by <a href="https://html.design/"> Free html Templates</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
      <script src="/static/js/owl.carousel.min.js"></script>
      <script src="/static/js/custom.js"></script>
   </body>
</html>